*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: 
}

.header{
   
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #4aaaa5;
    align-items: center;
}




   


p{
    text-indent: 2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.riley{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0 0;
    color: white;
    width: fit-content;
    background: #4aaaa5;
    padding: 20px;
    flex: auto;
    }

.link{
    float: right; 
    margin: 0 40px 0 0
}

.wrapper{
    position: relative;
    margin:  150px auto 100px  ;
    width: 960px;
    box-sizing: border-box;
    background-color: white;
}

.wrapper2{
    position: relative;
    margin:  150px auto 60px  ;
    width: 960px;
    box-sizing: border-box;
    background-color: white;
}

.wrapper2 h1{
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.img1{
    margin: 0 0 75px 135px;
    width: 50%;
    height: auto;
}

.wrapper img{
    margin-right: 1em;
    float: left;
    width: 25%;
    height: auto;

}
.wrapper h1{
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #666666;
}